body {
  margin: 0;
  background: #000000;
}

/* header */
/* navabar */
h1 {
  color: #ffffff;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* logo airbnb */
.navbar__logo {
  width: 60px;
  height: 60px;
  display: flex;
}

/* parti de gauche */
.header_left {
  display: flex;
  flex-direction: row;
}

/* parti de droite */
.headr_right {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.navbar__hote {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  align-self: stretch;
}

.navbar__globe {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 10px;
}

.navbar__MenuDeroulant {
  background-color: #ffffff;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  margin-left: 10px;
  width: 60px;
}

.navbar__MenuDeroulant__connec {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fin navbar */
/* liste 3 titre */
.liste {
  list-style-type: none;
  text-align: center;
}

.liste__titre {
  color: #ffffff;
  display: inline;
  margin: 30px 0px 0px 30px;
}

/* barre de recherche */
.recherche {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 50px 50px 50px 50px;
}

.recherche__form {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.recherche__form__element {
  background-color: #ffffff;
  width: 18%;
  display: flex;
  flex-direction: column;
}

/* bouton loupe */
input {
  width: 120px;
  border: none;
}

.annulebouton {
  border: none;
  background: none;
}

.loupe {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
}

/* fin du header */
/* main */
main {
  background: #ffffff;
}

/* section 1 */
.section1 {
  background-color: #000000;
}

.section1 {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
  background: linear-gradient(black, white);
}


/* first img */
.firstimg {
  background-image: url("image/firstimage.jpg");
  width: 90%;
  height: 800px;
  border-radius: 35px 35px 35px 35px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #ffffff;
}

.firstimg__grid {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* texte de l'image */
.firstimg__grid__titreImg {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
}

.firstimg__grid__button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #683569;
  color: white;
  font-size: 20px;
}

/* second img */
.secondImg {
  background-image: url("image/cartcadeau.jpg");
  width: 90%;
  height: 800px;
  border-radius: 35px 35px 35px 35px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #ffffff;
}

/* section2 */
/* cards  */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

/* cards bloc */
.cards__bloc {
  width: 300px;
  height: 400px;
  border-radius: 30px 30px 30px 30px;
}

/* cards top img */
.cards__bloc__ville {
  width: 300px;
  height: 50%;
  border-radius: 30px 30px 0 0;
}

/* bottom cards color texte */
.cards__bloc__bas {
  height: 50%;
  color: yellow;
}

/* cards 1 bgcolor*/
.rose {
  background-color: #d114b8;
}

/* cards 2 bgcolor */
.violet {
  background-color: #5e1654;
}

/* cards 3 bgcolor */
.pourpre {
  background-color: #ff00dd;
}

/* cards 4 bgcolor */
.rousses {
  background-color: #d11443;
}

/* les trois cards */
.affiche {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

/* section 3 */
/* form image */
.affiche__expo {
  width: 700px;
  height: 500px;
  border-radius: 30px;
  background-size: cover;
}

/* img 1 */
.canione {
  background-image: url("image/cd.jpg");
}

/* img 2 */
.campville {
  background-image: url("image/camping_nuit.jpg");
}

/* img 3 */
.campmer {
  background-image: url("image/campingcar.jpg");
  width: 90%;
  margin-top: 25px;
}



footer {
  background-color: #afa7a7;
}